#<IfModule mod_rewrite.c>
#  	RewriteEngine On
#	RewriteBase /
#  	RewriteCond %{REQUEST_FILENAME} !-f
#  	RewriteCond %{REQUEST_FILENAME} !-d
#  	RewriteRule ^(.*)$ index.php?/$1 [L]
#</IfModule>


# for apache 2.2 with Freebsd 9
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteCond $1 !^(index\.php|images|swf|uploads|js|css|assets|robots\.txt|$)
    RewriteRule ^(.*)$ /onlinePresentation/index.php/$1 [L,QSA]
</IfModule>

