/*viewport original css----------------------------------------------------*/
.no-margin {
    margin-right: 0;
}

.viewport{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    &.window-style{
    	height: 110px;
    	width: 110px;
    	a{
    		img{
				width: 100px;
			}
			span{
				font-size: 1.2em;
				display: none;
				padding-top: 40%;
			}
    	}
    }
	&.mobile-style , &.detail-style{
    	height:70px;
    	width: 70px;
    	a{
    		img{
				width: 70px;
			}
			span{
				font-size: 0.8em;
				display: inline;
				padding-top: 60%;
			}
    	}
    }
    &.detail-style{
    	float: left;
    	a{
	    	span{
				font-size: 0.65em;
				&.db-s-size{
					padding-top: 30%;
				}
			}
		}
    }
	a{
		display: block;
	    position: relative;
		span{
		    font-weight: bold;
		    height: 100%;
		    position: absolute;
		    text-align: center;
		    text-decoration: none;
		    width: 100%;
		    z-index: 100;
		}
		em{
		    display: block;
		    font-size: 0.45em;
		    font-weight: normal;
		}
	}

}

.dark-background{
	width:100px;
	height:100px;
	border-radius:60%;
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    em{
    	color: #ccc;
	}
	&.db-s-size{
		width:50px;
		height:50px;
	}
}

/*rewrite timeline------------------------------------------------------*/
.no-push-top{
	margin-top:-5px !important;
}

/*one page------------------------------------------------------------- */

.icon-bar{
	background-color:black;
}

.navbar{
	a{
		color: black;
	}
}
.alt{
	background-color:#ededed;
	&.affix{
		background-color:#ededed;
	}
	li{
		a:hover , &.active, a:focus {
			color: white;
			background-color:rgb(217, 22, 22);
		}
	}
}

.blurb {
    padding: 120px 0px 30px 0px !important;
}
.callout {
	padding-top: 0;
	background: none repeat scroll 0 0 #3a3c42;
	height: auto !important;
	overflow: auto!important;
}
.callout-layout {
    background: url("../images/background2.png") no-repeat fixed center center/cover transparent;
    top: 3%;
    height: auto;
    overflow: auto;
}
footer {
    padding: 20px 0;
}

/*rewrite bootstrap---------------------------------------------------- */
a:focus {
    outline: none !important;
    outline-offset: -2px;
}
.sm-size{
	width:80px;
}
.xs-size{
	width:70px !important;
}
.xxs-size{
	width:50px !important;
}
.show-skill-mobile{
	width:33.333%;
	height:80px;
	float:left;
}
.col-md-offset-7-3 {
    margin-left: 60%;
}
/*flot picture--------------------------------------------------------- */
.scene {
  padding: 0;
  margin: 0;
}

/*awesome icon--------------------------------------------------------- */
.fa-6x {
    font-size: 6em !important;
    &:hover{
    	font-size: 6.5em !important;
    }
}
.fa-7x {
    font-size: 7em !important;
    &:hover{
    	font-size: 7.5em !important;
    }
}
.fa-8x {
    font-size: 8em !important;
    &:hover{
    	font-size: 8.5em !important;
    }
}


/*customer------------------------------------------------------------- */
.timeline-block{
	padding-top:50px;
	//background:black url(../images/background.png) repeat;
	font-family: 'PT Sans', Sans-Serif;
	font-size:14px;
	margin:0;
	text-align:center;
}
.no-newline{
	display : inline !important;
}
.more-space-1{
	padding:0px 0px 30px 0px;
}
.mypic-sm{
	width:50%;
	border-radius:60%;
}
.sm-font-size{
	font-size:0.8em;
}
.gray-font{
	h1,h2,h3,h4,h5,h6{
		color:#5A5A5A;
	}
}
.white-font{
	h1,h2,h3,h4,h5,h6{
		color:white;
	}
}
.no-padding-right{
	padding-right: 0px;
}
.dynamic-font{
	font-size: 1.1em;
}
.contact-info{
	&:hover {
        cursor: pointer;
    }
    &.sm-size{

    	width: 100px;
    	height: 100px;
    	line-height: 90px;
    }
	i{
		border:none;
    	&.linkedin-color{
			color:rgb(0, 119, 181);
		}
		&.facebook-color{
			color:rgb(59,89,152);
		}
		&.email-color{
			&:hover {
		        color:rgb(221,85,85);
		    }
		}
	}
}

.google-map-block{
	width:100%;
	height: 300px;
}

/*mobile style*/
@media (max-width: 768px) {

	/*rewrite timeline*/
	.timelineFlat .item_open,.timelineFlat .item{
		width: 350px !important;
	}

	.mypic-sm{
		width:100%;
		border-radius:60%;
	}

	.dark-background{
		width:70px;
		&.db-s-size{
			width:50px;
			height:50px;
		}
	}
	.viewport{
		&.detail-style{
	    	float: left;
	    	a{
		    	span{
					font-size: 0.55em;
					&.db-s-size{
						padding-top: 25%;
					}
				}
			}
	    }
	}
}

.timelineFlat.timelineFlatBlog .item .post_date{
  box-sizing:initial;
}